doctype html
head
  meta(charset='utf-8')
  meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
  meta(name='description', content='')
  meta(name='author', content='')
  title CodeLomDom
  // Bootstrap core CSS
  link(href='/static/vendor/bootstrap/css/bootstrap.min.css', rel='stylesheet')
  // Custom fonts for this template
  link(href='/static/vendor/fontawesome-free/css/all.min.css', rel='stylesheet', type='text/css')
  link(href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic', rel='stylesheet', type='text/css')
  link(href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800', rel='stylesheet', type='text/css')
  // Custom styles for this template
  link(href='/static/css/clean-blog.min.css', rel='stylesheet')
  link(href='/static/img/D_title.png', rel='shortcut icon')
// Navigation
nav#mainNav.navbar.navbar-expand-lg.navbar-light.fixed-top
  .container
    a.navbar-brand(href='/') CodeLomDom
    button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
      span.navbar-toggler-icon
    #navbarSupportedContent.collapse.navbar-collapse
      ul.navbar-nav.ml-auto
        li.nav-item
          a.nav-link(href='/') Home
        li.nav-item
          a.nav-link(href='#') About
        li.nav-item
          a.nav-link(href='/posts') Sample Post
        li.nav-item
          a.nav-link(href='contact.html') Contact
        //- li.nav-item
        //-   a.nav-link(href='/auth/login') login
        //- li.nav-item
        //-   a.nav-link(href='/users/create') Register
        

block content

hr
block foot
   // Footer
footer
  .container
    .row
      .col-lg-8.col-md-10.mx-auto
        ul.list-inline.text-center
          li.list-inline-item
            a(href='#')
              span.fa-stack.fa-lg
                i.fas.fa-circle.fa-stack-2x
                i.fab.fa-twitter.fa-stack-1x.fa-inverse
          li.list-inline-item
            a(href='https://www.facebook.com/ductn.network')
              span.fa-stack.fa-lg
                i.fas.fa-circle.fa-stack-2x
                i.fab.fa-facebook-f.fa-stack-1x.fa-inverse
          li.list-inline-item
            a(href='https://github.com/ductnn')
              span.fa-stack.fa-lg
                i.fas.fa-circle.fa-stack-2x
                i.fab.fa-github.fa-stack-1x.fa-inverse
        p.copyright.text-muted Copyright &copy; CodeLomDom 2019
// Bootstrap core JavaScript
script(src='/static/vendor/jquery/jquery.min.js')
script(src='/static/vendor/bootstrap/js/bootstrap.bundle.min.js')
// Custom scripts for this template
script(src='/static/js/clean-blog.min.js')