extends ../layouts/common.pug

block content
    header.masthead(style='background-image: url(/static/'+post.image+')')
        .overlay
        .container
            .row
                .col-lg-8.col-md-10.mx-auto
                    .post-heading
                        span= post.title 
                        p.post-meta Post by
                            //img(src= '/static/' + post.image)
                            a(href="#", style="color: blue")  #{post.username} 
                            span on #{post.createAt.toDateString()}
    article
        .container
            .row
                .col-lg-8.col-md-10.mx-auto
                    span= post.content 
block foot
