extends ../layouts/common.pug

block content
    header.masthead
        .overlay
        .container
            .row
                .col-lg-8.col-md-10.mx-auto
                    .post-heading
                        h1= Post.title 
                        p.post-meta Post by
                            a(href="#")  #{Post.username} 
                            span on #{Post.createAt.toDateString()}
    article
        .container
            .row
                .col-lg-8.col-md-10.mx-auto
                    span= Post.content 
block foot